<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.email})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
        </p>
        <em th:text="${user.forgotPasswordToken}"></em>
        <p>
            <span th:text="#{email.reset.text2}"></span>
            <br/>
            <em th:text="#{email.signature}"></em>
        </p>
    </body>
</html>
